@using Models.MemberModels
@model Models.MemberModels.CMember
@{
    ViewBag.Title = "ForgetPassword";
}
<style>
    .Form {
        border: 1px solid black;
        width: 60%;
        height: 350px;
        padding: 40px;
        margin:auto;
        margin-top: 150px;
        margin-bottom:150px;
        line-height: 50px;
    }
</style>
    
<section class="section">
    <div class="container" style="">
        <div id="forgetPW" class="Form" align="center">
            <h1>忘記密碼</h1>
            <p>請輸入您的E-mail信箱，系統會將設定密碼通知信寄至此信箱。</p>
        <form id="form-forget" method="post">
            <input type="email" name="fAccount" class="form-control form-field mb-3" style="margin-bottom: 50px;height:40px;width:400px;" placeholder="E-mail" required autofocus />
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="取得設定密碼通知信"style="margin-top:40px;margin-bottom:20px"/>
            @if (ViewBag.Message == "!查無此信箱填寫不正確，請重新輸入")
            {
                <p style="font-family: Impact;color:red;font-size:20px;margin-bottom:10px">@ViewBag.Message</p>
            }
            else
            {
                <p style="font-family: Impact;color:#65C2C6;font-size:20px;margin-bottom:10px">@ViewBag.Message</p>
            }

        </form>
        </div>
    </div>
</section>
